<!DOCTYPE html>
<html>
<head>
  <!-- Fuente del proyecto-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
  <script src="//maps.google.com/maps/api/js?key=AIzaSyCmN8Zox3KSWX-pJvxTH2EtXYpO-oVXFYE"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
  <title>RUTE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Implementacion de barra de navegacion de la aplicacion-->
	<header>
		<nav class="be-red white large-padding">
			<ul class="no-list row center-xs around-xs middle-xs">
				<li class="col-md">
					<h1 class="no-margin" id="logo">RUTE</h1> 
				</li>

				<li class="col-md">
					<%= link_to 'Inicio', root_path %>
				</li>
				
				<li class="col-md">
					Contactenos
				</li>

				<% if current_user %>					
					<li class="col-md">
						<%= link_to 'Rutas', locations_path %>
					</li>
		
					<li class="col-md">
  						<%= current_user.name %> 
  					</li>
  					
  					<li class="col-md">
  						<%= link_to "Cerrar sesion", '/logout' %>
  					</li>
				<% else %>
					<li class="col-md">
  						<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
  					</li>
				<% end %>	
			</ul>
		</nav>
	</header>

<%= yield %>

</body>
</html>
